import custom-colors.css


/* #root {
  max-width: 1280px;
  max-height: 100%;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
  display: flex;
}*/

html,
body {
  box-sizing: border-box; 
  margin: 0; 
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; 
  line-height: 1.5; 
  height: 100%; 
  width: 100%;
}


/* App.css */

.myButton {
  border: 2px solid var(--light-green);
  Color: var(--plain-black);
  background-color: var(--whitish-green);
  color: var(--plain-black);
}

.myButton:hover {
  background-color: var(--plain-black);
  color: var(--whitish-green);
  box-shadow: 0px 5px 10px rgb(76, 217, 100, 0.5);
  z-index: 1;
}