import custom-colors.css


/* #root {
  max-width: 1280px;
  max-height: 100%;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
  display: flex;
}*/

html,
body {
  box-sizing: border-box; 
  margin: 0; 
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; 
  line-height: 1.5; 
  height: 100%; 
  width: 100%;
}
