@tailwind base;
@tailwind components;
@tailwind utilities;


/* index.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* height: 100%; */
    /* width: 100%; */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}