.Features {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 0px;
    background-color: var(--custom-white);
    height: 100%;
    width: 100%;

}